@import "tailwindcss";

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin:0;
  scroll-behavior: smooth;
}
body {
  max-width:100%;
}







